<h1>My Restaurant application!</h1>
<p>Here are my favourite restaurants:</p>

<form action="/restaurants" method="post">
  <label for="name">Restaurant's name:</label>
  <input type="text" name="name">
  <label for="city">City:</label>
  <input type="text" name="city">
  <input type="submit">
</form>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurants/<%=restaurant.id%>">
        <%= restaurant.name %>
      </a>
    </li>
  <% end %>
</ul>

